In [7]:
from pyspark.sql import SparkSession
from IPython.display import display

# Create a SparkSession
spark = SparkSession.builder.appName("TestSpark").getOrCreate()

# Print Spark version
print(f"Spark version: {spark.version}")

# Create a simple DataFrame
data = [("Alice", 34), ("Bob", 45), ("Charlie", 29)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()
# Alternate to show: use display if running in Databricks or IPython.display for Jupyter

display(df.toPandas())
# Perform a simple transformation
df_filtered = df.filter(df["Age"] > 30)

# Show the transformed DataFrame
df_filtered.show()

# Stop the SparkSession
# spark.stop()

Spark version: 3.5.0
+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 34|
|    Bob| 45|
|Charlie| 29|
+-------+---+

      Name  Age
0    Alice   34
1      Bob   45
2  Charlie   29

+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
+-----+---+

In [17]:
import os

directory = "/opt/"
files = os.listdir(directory)

for file in files:
    print(file)

conda
setup-scripts

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 42082)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/usr/local/spark-3.5.0-bin-hadoop3/python/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/usr/local/spark-3.5.0-bin-hadoop3/python/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/usr/local/spark-3.5.0-bin-hadoop3/python/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark-3.5.0-bin-hadoop3/python/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------